1.
*
* *
* * *
* * * *
* * * * *

In [2]:
n = 5
for i in range(1,n+1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *

In [3]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

2.
        *
      * *
    * * *
  * * * *
* * * * *

In [13]:
for  i in range(1,6):
    print("  "*(n-i)+"* "*i)

        *
      * *
    * * *
  * * * *
* * * * *

In [11]:
n = 5
for i in range(1,2):
    for j in range(1,n+1):
        print("  "*(n-j)+"* "*j)

        *
      * *
    * * *
  * * * *
* * * * *

3.
     *
    * *
   * * *
  * * * *
 * * * * *

In [19]:
n = 5
for i in range(1,n+1): 
    print(" "*(n-i) + "* "*(i))

    *
   * *
  * * *
 * * * *
* * * * *

In [21]:
n = 5
for i in range(1,2):
    for j in range(1,n+1):
        print(" "*(n-j)+"* "*j)

    *
   * *
  * * *
 * * * *
* * * * *

4.
* * * * * * * * *
  * * * * * * * 
    * * * * *
      * * *
        *

In [22]:
n = 5
for i in range(5,0,-1): 
    print("  "*(n-i) + "* "*(i*2-1))

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [25]:
n = 5
for i in range(1,2):
    for j in range(5,0,-1):
        print("  "*(n-j)+"* "*(j*2-1))

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

5. 
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [35]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print(j+1,end = " ")
        j +=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

6. 
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [38]:
n = 5
x = 1
for i in range(1,n+1):
    for j in range(i):
        print(x,end=" ")
        x +=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

7. 
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [1]:
n= 5                                               
for i in range(n):
    print(" "*(n-i)+ " ".join(str(11**i)))

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [1]:
n = 5
 
for i in range(n):
    print(' '*(n-i), end='')
    print(' '.join(map(str, str(11**i))))

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

8. 
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [191]:
n = 5
x = 1

for i in range(1,n+1):
    for j in range(i):
        print(x,end = " ")
        x +=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

9.
A [Use ASCII Values]
B B
C C C
D D D D
E E E E E

In [90]:
n = 5
x = 65

for i in range(1,n+1):
    for j in range(i):
        print(chr(x),end=" ")
    x +=1
    print()

A
B B
C C C
D D D D
E E E E E

10.
A
B C
D E F
G H I J
K L M N O

In [91]:
n = 5
x = 65

for i in range(1,n+1):
    for j in range(i):
        print(chr(x),end=" ")
        x +=1
    print()

A
B C
D E F
G H I J
K L M N O

11.
K
K K
K K K
K K K K
K K K K K

In [93]:
n = 5
for i in range(1,n+1):
    print("K "*i)

K
K K
K K K
K K K K
K K K K K

In [95]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print("K",end = " ")
    print()

K
K K
K K K
K K K K
K K K K K

12.
A
A B
A B C
A B C D
A B C D E

In [5]:
n = 5                          


for i in range(1,n+1):
    x = 65
    for j in range(i):
        print(chr(x),end=" ")
        x +=1
    print()

A
A B
A B C
A B C D
A B C D E

13.
P
Py
Pyt
Pyth
Pytho
Python

In [142]:
str1 = "Python"

for i in range (len(str1)):     
    for j in range(i+1):   
        print(str1[j],end = "")
    print()

P
Py
Pyt
Pyth
Pytho
Python

14.
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [11]:
n = 5                                

for i in range(n):
    for j in range(n-i):
        print(i+1,end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

15.
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [184]:
n = 5

for i in range(n+1,0,-1):
    for j in range(i):
        print(i,end=" ")
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

16.
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [189]:
n = 5

for i in range(n+1,1,-1):
    for j in range(i):
        print(j,end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

17.
1
2 3 4
5 6 7 8 9

In [123]:
col = 1
n =1
n1 = 3
for i in range(1,4):
    for j in range(1,col+1):
        print(n,end=" ")
        n +=1
    col +=2
    print()

1
2 3 4
5 6 7 8 9

18.
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [204]:
n = 6

for i in range(n+1,0,-1):
    for j in range(i-1,0,-1):
        print(j,end = " ")
    print()

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

19.
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [28]:
n =5
odd = 1
for i in range(1,n+1):   
    for j in range(1,i+1): 
        print(odd,end = " ")
    odd +=2
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

20. 
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [57]:
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(" ",end= " ")
    for k in range(i+1):
        print(k+1,end = " ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

21. 
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [8]:
n = 5
for i in range(1, n + 1):
    for j in range(1, n + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

22.
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [95]:
n = 7

for i in range(1, n+1):
    for j in range(1, i+1):
        print(i*j, end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

23. 
1
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1

In [20]:
n = 9
for i in range(1, n):
    for j in range(-1 + i, -1, -1):
        print(format(2**j,"3d"),end = "")
    print("")

  1
  2  1
  4  2  1
  8  4  2  1
 16  8  4  2  1
 32 16  8  4  2  1
 64 32 16  8  4  2  1
128 64 32 16  8  4  2  1

24.

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [133]:
n =7
for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
    print()
    
for i in range(n,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

25.
*
* *
* * *
* * * *
* * * * *
* * * * * *


* * * * * *
* * * * *
* * * *
* * *
* *
*

In [134]:
n = 6

for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
    print()
print()
print()

for i in range(n,0,-1):
    for j in range(i):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *


* * * * * *
* * * * *
* * * *
* * *
* *
*